.ho1{background-color: skyblue;}
.ho2{background-color: grey;}
.ho3{background-color: orange;}
.ho4{background-color: red;
.ho5{background-color: light-green;}
div{text-align:center;font-style:times new roman;
  padding:5px; 
  margin: 5px;} 
#b1{background-color: red; text-align:center;font-style:times new roman;
width:12000px; 
height: 190px;
margin: 20px;
padding: 10px;}
#b2{background-color: blue; text-align:center;font-style:times new roman;
margin: 20px;
padding: 10px;
width:500px; 
height: 300px;}
#b3{margin: 20px;text-align:center;font-style:times new roman;
padding: 10px;
width:300px; 
height: 500px;
float:left;
background-image: url(marmeladki.png);}
#b4{width:300px; height: 400px;float:left;text-align:center;font-style:times new roman;
margin: 20px;
padding: 10px;}
#b5{background-color: red; text-align:center;font-style:times new roman;
width:12000px; 
height: 190px;
margin: 20px;
padding: 10px;
  clear:both;}
