.ho1{background-color: skyblue;}
.ho2{background-color: grey;}
.ho3{background-color: orange;}
.ho4{background-color: red;
.ho5{background-color: light-green;}
.ho6{@-webkit-keyframes flicker {
  50% {background-size: 7px 7px, 3px 3px;}
  100% {background-size: 3px 3px, 7px 7px;}
}
@keyframes flicker {
  50% {background-size: 7px 7px, 3px 3px;}
  100% {background-size: 3px 3px, 7px 7px;}
}
#blink3 {
  position: relative;
  font-weight: bold;
  color: #30084f;
}
#blink3:before {
  content: "";
  position:absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px), radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px);
  background-size: 3px 3px, 7px 7px;
  background-position: 0% 50%;
  -webkit-animation: flicker .5s linear infinite alternate;
  animation: flicker .5s linear infinite alternate;}
div{text-align:center;font-style:times new roman;
  padding:10px; 
  margin: 20px;} 
#b1{background-color: red; text-align:center;font-style:times new roman;
width:12000px; 
height: 190px;
margin: 20px;
padding: 10px;}
#b2{background-color: blue; text-align:center;font-style:times new roman;
width:500px; 
height: 300px;
float:left;}
#b3{margin: 20px;text-align:center;font-style:times new roman; 
height: 300px;float:right;
background-image: url(marmeladki.png);}
#b4{width:200px; height: 100px;float:right;text-align:center;font-style:times new roman;
#b5{background-color: red; text-align:center;font-style:times new roman;
width:12000px; 
height: 190px;
  clear:both;}
